<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EcoAppServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConnectTest</display-name>
    <servlet-name>ConnectTest</servlet-name>
    <servlet-class>jp.uozias.ecoappserver.controllers.ConnectTest</servlet-class>
    <init-param>
      <param-name>useProxy</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>targetHost</param-name>
      <param-value>133.242.42.29</param-value>
    </init-param>
    <init-param>
      <param-name>targetPort</param-name>
      <param-value>8080</param-value>
    </init-param>
    <init-param>
      <param-name>targetScheme</param-name>
      <param-value>http</param-value>
    </init-param>
    <init-param>
      <param-name>targetUri</param-name>
      <param-value>IPP_ClientAPIServer</param-value>
    </init-param>
    <init-param>
      <param-name>proxyHost</param-name>
      <param-value>localhost</param-value>
    </init-param>
    <init-param>
      <param-name>proxyPort</param-name>
      <param-value>80</param-value>
    </init-param>
    <init-param>
      <param-name>proxyScheme</param-name>
      <param-value>http</param-value>
    </init-param>
    <init-param>
      <param-name>applicationId</param-name>
      <param-value>49afb42496ec4e56ffce5627aefafd1c</param-value>
    </init-param>
    <init-param>
      <param-name>maxStayRange</param-name>
      <param-value>200</param-value>
    </init-param>
    <init-param>
      <param-name>maxStayAccuracy</param-name>
      <param-value>100</param-value>
    </init-param>
    <init-param>
      <param-name>minStayTime</param-name>
      <param-value>1800</param-value>
    </init-param>
    <init-param>
      <param-name>outputLog</param-name>
      <param-value>/tmp/lifelog-server.log</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectTest</servlet-name>
    <url-pattern>/ConnectTest</url-pattern>
  </servlet-mapping>
</web-app>